body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: black;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
}

footer {
  text-align: right;
  color: midnightblue;
}

.tile-image {
  height: 300px;
  width: 300px;
  float: left;
  margin-right: 50px;
}

.left {
  float: left;
  

}

.right {
  float: right;
  

}

.card {
  width: 45%;
}

p, h1, h2 {
  color: aliceblue;
}

.Creative {
  color: lightsalmon;
}
